/*body-----------------------------*/

:root {

    --blue-bg-color: #c7ddea;
    --orange-bg-color: #f17949;
    --lightgrey-bg-color: #a9a19e;
    --darkgrey-bg-color: #777574;
    --yellow-bg-color: #fab131;
    --white-color: white;
    --grey-font-color: #524e4d;
    --brightgrey-bg-color: #ebebeb;
    
}

body {

    margin: auto;
    max-width: 1000px;
    background-color: var(--brightgrey-bg-color);
    
}
    
/*body end-----------------------------*/




/*fonts-----------------------------*/

h1, h2, h3, h4, p {

    margin: 0;
    padding: 10px 0;
}

button, p, li {

    font-family: 'Noto Sans JP', sans-serif;
    color: var(--grey-font-color);
}

a {

    text-decoration: none;
    color: var(--lightgrey-bg-color)

}


button {

    font-weight: 750;
    font-size: 10px;
    letter-spacing: -0.5px;

}

p {

    font-weight: 600;
    line-height: 190%;
    font-size: 14px;
    
}



li {

    font-weight: 400;
    line-height: 150%;
    font-size: 12px;

}

h1 {

    font-size: 45px;
    letter-spacing: -1px;
    font-weight: 600;
    line-height: 90%;

}

.main-top-left-section h2 {

    color: var(--white-color);
    font-size: 40px;
    letter-spacing: -1px;
    font-weight: 600;

    

}

h3 {

    color: var(--white-color);
    font-size: 30px;
    
}

h4 {

    padding: 5px 5px 0 5px;

}

.heading-top-right-section p, .heading-bottom-right-section p {

    font-size: 12px;
    padding: 0;
    

}

.heading-top-right-section h3, .heading-bottom-right-section h3 {

    padding: 0;

}



.main-bottom-grid h3 {

    color: var(--lightgrey-bg-color);

}

ul li span {

    font-weight: bold;
    
}

.heading-top-left-section span {

    color: var(--white-color);

}


.customer-info p {

    font-size: 10px;
    color: var(--lightgrey-bg-color);

}




/*fonts end-----------------------------*/




/*components-----------------------------*/

button {

    border-radius: 20px;
    border-style: solid;
    border: 0px;
    box-shadow: 0.5px 0.5px 0.5px 0px var(--darkgrey-bg-color);
    background-color: var(--white-color);
    text-transform: uppercase;
    padding: 10px 30px;
    margin: 40px 0;
    
}

/*component end-----------------------------*/




/*header-----------------------------*/

.heading-top-section {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}


.heading-top-left-section {

    grid-column: 1/2;
    grid-row: 1/4;
    min-height: 350px;

    background-color: var(--blue-bg-color);
    background-image: url("img/family.png");
    background-position-y: bottom;
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 250px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 100px;
    
}



.heading-top-right-section {

    grid-column: 2/4;
    grid-row: 1/2;
    background-color: var(--orange-bg-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    

}

.heading-bottom-right-section {

    grid-column: 2/4;
    grid-row: 2/3;
    background-color: var(--yellow-bg-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    

} 

nav ul {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

/*header end-----------------------------*/




/*main-----------------------------*/

.main-top-grid {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 100px;
    background-color: var(--lightgrey-bg-color);
    padding: 100px;
    column-gap: 100px;

}

.main-top-left-section {

    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    

}

.main-top-right-section {

    grid-column: 2/3;
    


    
}



.main-middle-customers {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    grid-column: 1/3;
    grid-row: 2/3;

}

.customer-wrapper {

    background-color: var(--white-color);
    height: 270px;
    width: 220px;
    box-shadow: 0.5px 0.5px 0.5px 0px var(--darkgrey-bg-color);
    border-radius: 5px;
    text-align: center;
    position: relative;
    bottom: -50%;
    display: flex;
    justify-content: center;
     

}

.customer-wrapper img {
    
    width: 210px;
    height: 120px;
    object-fit: contain;
    

}

.customer-background {

    border-radius: 4px;
    position: absolute;
    top: -10%;

}

.child-background {

    background-color: var(--blue-bg-color);
    
}

.adult-background {

    background-color: var(--yellow-bg-color);
    
}

.old-background {

    background-color: var(--orange-bg-color);
    
}

.customer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    padding: 10px;
   
}



.main-middle-section {

    background-color: var(--yellow-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 200px 300px 150px 300px;
    
}

.main-bottom-grid {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
}

.bottom-grid {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.grid-item-shared {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    /*padding: 40px 40px 60px 40px;*/

}

.grid-item-shared p {

    align-self: center;
    /*margin-top: 30px;*/
    
}

.item-0 {

    background-color: var(--blue-bg-color);

}

.item-0 h2 {

    color:black;
    align-self: center;
    /*padding: 40px;*/
    
}

.item-1, .item-3, .item-5 {

    background-color: var(--white-color);

}

.item-4 {

    background-color: var(--orange-bg-color);
    
}

.item-4 h3 {

    color: var(--darkgrey-bg-color);
}

/*main end-----------------------------*/





/*footer-----------------------------*/

footer {
    
    min-height: 300px;
    background-color: var(--darkgrey-bg-color);
}

footer nav {

    background-color: var(--lightgrey-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/*footer end-----------------------------*/




/*mobile devices-----------------------------*/

@media screen and (max-width: 600px) {

    header nav, footer nav {
        display: none;
    }

    .heading-top-section {

        display: flex;
        flex-direction: column;
        
    }

    .heading-top-left-section {

        min-height: 450px;
        padding: 20px;
        background-position-x: center;

    }

    .heading-top-right-section, .heading-bottom-right-section {

        min-height: 300px;
    }

    .main-top-grid {

        display: flex;
        flex-direction: column;
        padding: 10px;

    }

    .main-top-left-section button {

        display: none;

    }

    .main-top-left-section, .main-top-right-section {

        padding: 10px;
    }

    .main-middle-customers {
 
        flex-direction: column;
        align-items: center;

    }

    .customer-wrapper {

        margin-top: 40px;
        
    }

    .main-middle-section {

        padding: 20px;

    }
            
    .main-bottom-grid {

        display: flex;
        flex-direction: column;

    }

    .grid-item-shared {

        flex-direction: column;

    }
  
}

/*mobile devices end-----------------------------*/