/*body*/



:root {

    --blue-bg-color: #c7ddea;
    --orange-bg-color: #f17949;
    --lightgrey-bg-color: #a9a19e;
    --darkgrey-bg-color: #777574;
    --yellow-bg-color: #fab131;
    
}

body {

    margin: auto;
    max-width: 700px;
    
}


    
/*body end*/



/*fonts*/

h1, h2, h3, p {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 12px;
}

h2 {

    color: white;
}

/*fonts end*/

/*header*/

.heading-top-section {

display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;

}


.heading-left-section {

    grid-column: 1/2;
    grid-row: 1/4;
    background-color: var(--blue-bg-color);
    background-image: url("img/family.png");
    background-position-y: bottom;
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 200px;
    min-height: 400px;
    

}


.heading-top-right-section {

    grid-column: 2/4;
    grid-row: 1/3;
    background-color: var(--orange-bg-color);


}

.heading-bottom-right-section {

    grid-column: 2/4;
    grid-row: 2/3;
    background-color: var(--yellow-bg-color);


} 


nav ul {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

/*header end*/


/*main*/


.main-top-grid {

display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;
background-color: var(--lightgrey-bg-color);

}

.main-top-section-left {

grid-template-columns: 1/2;

}

.main-top-section-right {

    grid-column: 2/3;

    
    
    }



.main-middle-section {

    background-color: var(--yellow-bg-color);

}

.main-bottom-grid {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
    
    
}

.bottom-grid {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

 

}

.bottom-grid h3 {
   
    align-self: flex-start;
    justify-self: flex-start;
}

.item-0 {

    background-color: var(--blue-bg-color);



}

.item-0 h2 {

    color:black;
    
    

}

.item-1 {


    
}



.item-2 {


background-color: var(--lightgrey-bg-color);
        
}

.item-3 {


            
}

.item-4 {


background-color: var(--orange-bg-color);
    
}

.item-5 {

    
    
    }

/*main end*/



/*footer*/

footer {
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 300px;
    background-color: var(--lightgrey-bg-color);
}

footer nav {

    background-color: var(--darkgrey-bg-color);
    
}

/*footer end*/